@font-face {
   font-family: Oswald;
   src: url(/fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
   font-family: Ubuntu;
   src: url(/fonts/Ubuntu-Regular.ttf);
}

@font-face {
   font-family: Ubuntu;
   src: url(/fonts/Ubuntu-Bold.ttf);
   font-weight: bold;
}

@font-face {
   font-family: Ubuntu;
   src: url(/fonts/Ubuntu-Italic.ttf);
   font-style: italic;
}

@font-face {
   font-family: Ubuntu Med;
   src: url(/fonts/Ubuntu-Medium.ttf);
}

@font-face {
   font-family: Ubuntu Light;
   src: url(/fonts/Ubuntu-Light.ttf);
}

@font-face {
   font-family: Ubuntu Narrow;
   src: url(/fonts/UbuntuCondensed-Regular.ttf);
}

@font-face {
   font-family: Ubuntu Mono;
   src: url(/fonts/UbuntuMono-Regular.ttf);
}
