@font-face {
   font-family: Oswald;
   src: url(/fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
   font-family: Ubuntu;
   src: url(/fonts/Ubuntu-Regular.ttf);
}

@font-face {
   font-family: Ubuntu;
   src: url(/fonts/Ubuntu-Bold.ttf);
   font-weight: bold;
   font-style: bold;
}

@font-face {
   font-family: Ubuntu;
   src: url(/fonts/Ubuntu-Italic.ttf);
   font-style: italic;
}

@font-face {
   font-family: Ubuntu Med;
   src: url(/fonts/Ubuntu-Medium.ttf);
}

@font-face {
   font-family: Ubuntu Light;
   src: url(/fonts/Ubuntu-Light.ttf);
}

@font-face {
   font-family: Ubuntu Narrow;
   src: url(/fonts/UbuntuCondensed-Regular.ttf);
}

@font-face {
   font-family: Ubuntu Mono;
   src: url(/fonts/UbuntuMono-Regular.ttf);
}


body  {
background-color:#f6efdf; 
margin:0;
font-family: Ubuntu, Verdana, Arial, sans-serif ;
}

header {
position: sticky;
top: 0;
}

.rlheader {
background-color:#edd1b0;
padding:1px 10px 2px 10px;
}

h1 {
text-align: center;
text-decoration-line: underline;
text-decoration-color: teal;
text-decoration-thickness: 0.4rem;
text-underline-offset: 12px;
font-family: Oswald, Ubuntu Narrow, Arial Narrow, Ubuntu, Verdana, Arial, sans-serif;
font-weight: normal;
}

h2 {
text-align: center;
text-decoration-line: underline;
text-decoration-color: #96adfc;
text-decoration-thickness: 0.4rem;
text-underline-offset: 8px;
font-family: Oswald, Ubuntu Narrow, Arial Narrow, Ubuntu, Verdana, Arial, sans-serif;
font-weight: normal;
}

h3 {
text-decoration-line: underline;
text-decoration-color: #a5f7e1;
text-decoration-thickness: 0.3rem;
text-underline-offset: 7px;
font-family: Ubuntu Narrow, Ubuntu, Verdana, Arial, sans-serif;
}

ul, ol {
padding-left: 20px;
margin-top: 10px;
margin-bottom: 10px;
}

details {
padding:5px;
background-color:#dbe1f1;
}
summary {
background-color:#f6efdf;
padding:5px;
cursor: pointer;
}

code {
font-family: Ubuntu Mono;
}

footer {
margin:0 2% 1% 2%;
font-family: serif;
}

 /* unvisited link */
a:link {
  color: teal;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: #bf3b3b;
}
/* selected link */
a:active {
  color: red;
} 

a.btn:link, a.btn:visited {
  border: 2px solid teal;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.btn:hover, a.btn:active {
  background-color: teal;
  color: white;
}
a.btn:visited:hover, a.btn:visited:active {
  border: 2px solid #bf3b3b;
  background-color: #bf3b3b;
  color: white;
}

a.mylinks {
text-decoration: none;
font-family: Ubuntu Narrow;
color: #404040;
}

.lefth {
  float: left;
  width: 48%;
}

 .righth {
  float: right;
  width: 48%;
}
/* Use a media query to add a breakpoint at some px: */
@media only screen and (max-width: 800px) {
  .lefth, .righth {
    width: 100%; /* The width is 100%, when the viewport is max-width or smaller */
  }
}

.lite {
font-family: Ubuntu Light;
}

.med {
font-family: Ubuntu Med;
}

.announcement {
background-color:yellow;
padding:10px;
text-align: center;
font-family: serif;
}

hr.section {
  margin-top: 5px; height: 3px; border: none; background-color: gray;
}

hr.thin {
  margin-top: 5px; height: 1px; border: none; background-color: darkgray;
}
